<div class="po-wrapper">
    <nav *ngIf="mostrarMenu">
        <po-toolbar p-title="Skoll" [p-profile]="profile">
        </po-toolbar>

        <po-menu [p-menus]="menus" p-collapsed p-filter p-logo="../assets/img/logo.png">
            <div *p-menu-header-template class="po-p-2 po-font-title sample-menu-header-text-color">
                <p>Bem vindo,</p>
                <p>
                    <b> Skoll Adm </b>
                </p>
            </div>
        </po-menu>
    </nav>
    <router-outlet></router-outlet>
</div>